@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

html {
  background: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%) no-repeat center center fixed;
}

body {
  font-family: "Concert One", sans-serif;
  /* text-shadow: 1px 1px 2px #e91e63, 0 0 1em purple, 0 0 0.2em purple; */
}

p {
  font-size: 2rem;
}

.dice {
  border-radius: 10%;
}

        /* Override Materialize CSS input underline */
.input-field input[type="text"]:focus,
.input-field input[type="password"]:focus,
.input-field input[type="email"]:focus,
.input-field input[type="url"]:focus,
.input-field input[type="tel"]:focus,
.input-field input[type="number"]:focus,
.input-field input[type="search"]:focus,
.input-field textarea:focus {
    border-bottom: 2px solid #e91e63 !important; /* Custom color and thickness for bottom border */
    box-shadow: none !important; /* Remove default box-shadow */
}

.input-field {
  color: #e91e63;
  border-bottom: #e91e63;
}

.input-field input {
  color: #e91e63;
}

.input-field .prefix.active {
  color: #e91e63;
}
