<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pig Game</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
    <h1 class="purple-text center-align">Pig</h1>
    <div class="row">
      <div class="col s6 player-info">
        <p>{{ state['players'] }} Players</p>
        <p>Current player: <span id="current-player">{{ state['current_player'] + 1 }}</span></p>
      </div>
      <div id="scores" class="scores col s6 card-panel small purple white-text">
        <h3 class="mb-0">Scores</h3>
        <div class="row">
          {% for player in range(state["players"]) %}
            <p class="col s6">Player {{player + 1}} Score: <span id="player{{player + 1}}-score">0</span></p>
          {% endfor %}
        </div>
      </div>
    </div>
    <p>Current turn score: <span id="current-player-score">{{ state['current_score'] }}</span></p>
    <div id="game-status"></div>
      <img class="dice" id="dice-image" src="{{ url_for('static', filename='img/inverted-dice-1.png') }}" alt="Dice" width="100">
      <button id="roll-button">Roll Dice</button>
      <button id="end-turn-button">End Turn</button>
    <div id="game-output"></div>
  </div>
  <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>