<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pig Game</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1>Pig Game</h1>
  <p>Number of players: {{ state['players'] }}</p>
  <div id="scores" class="scores">
    <!-- Todo: Come back and make this a loop to account for multiple players -->
    <p>Player 1 Score: <span id="player1-score">0</span></p>
    <p>Player 2 Score: <span id="player2-score">0</span></p>
  </div>
  <p>Current player: <span id="current-player">{{ state['current_player'] + 1 }}</span></p>
  <p>Current turn score: <span id="current-player-score">{{ state['current_score'] }}</span></p>
  <div id="game-status"></div>
  <img class="dice" id="dice-image" src="{{ url_for('static', filename='img/inverted-dice-1.png') }}" alt="Dice" width="100">
  <button id="roll-button">Roll Dice</button>
  <button id="end-turn-button">End Turn</button>
  <div id="game-output"></div>
  <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</body>
</html>