<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pig Game</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="body container">
    <h1 class="purple-text center-align">Pig</h1>
    <form action="{{ url_for('start_game_route') }}" method="POST">
      <div class="input-field col s6">
        <i class="material-icons prefix pink-text">face</i>
        <label class="" for="players">Number of Players:</label>
        <input class="pink-text" type="number" id="players" name="players" min="2" max="10" required>
      </div>
      <button class="z-depth-3 pink waves-effect waves-effect-dark btn" type="submit">Start Game</button>
    </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>